# ==========================================
# 1. ARCHIVOS SENSIBLES Y CONFIGURACIÓN LOCAL
# ==========================================
# Secretos de entorno
*.env
*.env.local
*.env.development
.env*

# Backend: Configuraciones locales con contraseñas o SecretKeys de JWT
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.Secrets.json
**/secrets.json

# Archivos de publicación e IIS
**/Properties/launchSettings.json

# ==========================================
# 2. .NET / C# (Backend)
# ==========================================
# Archivos compilados y binarios
**/bin/
**/obj/
[Dd]ebug/
[Rr]elease/
*.dll
*.exe
*.pdb

# Bases de datos locales de prueba (SQLite, MDF, LocalDB)
*.db
*.db-shm
*.db-wal
*.mdf
*.ldf

# Herramientas y Caché de .NET
.vs/
.vscode/
**/UserSecrets/
*.user
*.userosscache
*.suo

# ==========================================
# 3. ANGULAR / NODE.JS (Frontend)
# ==========================================
# Dependencias de npm
**/node_modules/

# Salidas de compilación
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/

# Caché de Angular CLI
**/.angular/

# Logs de error
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslintdebug.log*

# ==========================================
# 4. ARCHIVOS DEL SISTEMA OPERATIVO Y EDITORES
# ==========================================
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.sublime-workspace